.info1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border: 10px double rgb(127, 241, 33);
    border-radius: 10px;
    background-color:#622b5e;
    padding: 5px;
}

.info1 img{
   width: 300px;
   height: 300px;
   object-fit: cover;
}

.info1 .image{
    margin-left:10px ;
}

#first{
    color:  #efd96b;
}